@import 'src/app/shared/css/constants.scss';

.panel{
    padding: 15px 0 30px 0;
    margin: 0px
}

.panel button {
    margin-top: 15px;
    &:focus {
        outline: none;
        outline: none -webkit-focus-ring-color;
    }
    &:hover {
        box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14);
    }
}
.panel button + button{
    margin-left: 5px;
}