<section class="container">
  <div class="row d-flex justify-content-center">
    <app-knobs class="col-10 col-md-8" (onCreateOrUpdate)="updateList()"> </app-knobs>
  </div>
</section>
<section class="container">
  <div class="row item-container d-flex justify-content-center">
    <app-item 
      class="col-11 col-md-9" 
      *ngFor="let item of items | async; let i = index; trackBy: trackByFn"
      (onDelete)="updateList()"
      [id]="item.id"
      [name]="item.name"
      [cost]="item.cost"
    ></app-item>
  </div>
</section>